header.header
    nav.nav.nav--tours
        a.nav__el(href="/overview") All tours 
    .header__logo 
        img(src="/img/logo-white.png" alt="Natours logo")
    nav.nav.nav--user 
        - if (user)
            button.nav__el.log-out(href="/logout") Log out 
            a.nav__el(href="/profile/info")
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
                span= user.name.split(' ')[0] 
        - if (!user)
            a.nav__el(href="/login") Log in 